.create__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: #7FBCD2;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  z-index: 5;
  width: 700px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }

  &-info {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
  }

  .inputs {
    align-items: flex-start;

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px 10px;

      &-label {
        font-size: 18px;
        font-weight: 500;
        color: black;
      }

      &-input, &-select, &-area {
        width: 250px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid white;
      }

      &-area {
        width: 520px;
      }

      &-select {
        border: none;
      }

      &-file, &-submit {

        cursor: pointer;
        width: 520px;
        border: 1px solid white;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        color: black;
      }

      &-submit {
        font-size: 18px;
        font-weight: 600;
      }

      &:nth-child(6) {
        margin-bottom: 10px;
      }
    }
    &__images{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      &-image{
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
  }

  &-exit {
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 342;
    &--btn {
      position: relative;
      cursor: pointer;

      &:before, &:after {
        position: absolute;
        transform: rotate(45deg);
        content: '';
        width: 25px;
        border-radius: 2px;
        height: 4px;
        background-color: white;
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}